@HEADER:#415E73;
@WHITE:#FFF;

@BRAND:#40A3FF;
@ACCENT:#FFA340;
@ACCENT2:#A340FF;
@TEXT:#3a3a3a;
@TEXT2:#9c9c9c;

@ERROR:#a94442;
@SUCCESS:#42A944;

@BG:#F7F9FB;
@MENUBG:#D9DBDC;

@BASE:16px;
@FONT:"Nunito","Ubuntu","Lato","Arial","Helvetica",sans-serif;

@GAP:15px;